body {
    font-size: 12px !important;
}

table {
    margin-top: 5%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    font-size: 12px !important;
    max-height: 30px;
}

.favourite-td {
    text-align: center;
}

.details-array-div ul li {
    display: inline-block;
    padding: 2%;
}

